@use 'sass:map';
@use './../../../styles.scss';
@use './../../../styles/theme-colors.scss' as theme;

.filter {
  width: 100%;
}

.card-container {
  max-width: 90%;
  margin: 1em auto;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1em;
}

.card {
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;
  height: auto;

  .card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    padding-left: 1rem;

    h3 {
      color: white;
    }
  }

  &:hover {
    box-shadow: 0 0 20px map.get(theme.$primary, 90);
    transform: scale(1.04);

    transition: box-shadow 1s ease-out, transform 1.3s ease-in-out;
    .card-content {
      h3 {
        color: map.get(theme.$primary, 90);
      }
    }
  }
}
